<section class="border-2 flex">
  <div class="w-1/4 border-r-2">
    <ul>
      <a href="" class="">
        <li class="p-4 border-l-2 border-black text-gray-900 font-semibold">Edit Profile</li>
      </a>
      <a href="" class="">
        <li class="p-4 hover:border-l-2 hover:bg-gray-50">Change Password</li>
      </a>
      <a href="" class="">
        <li class="p-4 hover:border-l-2 hover:bg-gray-50">Emails from Instagram</li>
      </a>
    </ul>
  </div>
  <div class=""></div>
</section>
